body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}
.el{
    margin: 20px 0px 0px 0px;
    padding: 20px 20px;
    border: 1px solid lightblue;
    background:brown;
    width:400px;
    text-align: center;
    font-size: 50px;

}

.ele{
    margin: 20px 0px 0px 0px;
    padding: 20px 20px;
    border: 1px solid lightblue;
    background:brown;
    width:400px;
    text-align: center;
    font-size: 50px;

}